body {
    background:black;
    text-align: center;
}
p{
    align:justify;
    background:black;
    color:white;
    width:80%;
}

h1,h2{
    align:justify;
    background:black;
    color:white;
    width:80%;
}
