body {
    margin-left:10%;
    margin-right:10%;
    background:black;
}
p{
    align:justify;
    background:black;
    color:white;
    width: 80%;
}

h1,h2{
    align:justify;
    background:black;
    color:white;
    width: 80%;
}
