body {
    background: black;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

p {

    align: justify;
    background: black;
    color: white;
}

h1,
h2 {
    align: justify;
    background: black;
    color: white;
}