body {
    background: #ccccff;
    text-align: center;
}

.leftHalf {
    width: 40%;
    float: left;
}

.rightHalf {
    float: right;
    width: 50%;
}

.bold {
    font: bold;
    font-size: 25px;
}

img.headPicture {
    height: auto;
    border-radius: 50%;
}

div.headPicture-container {
    position: relative;
    border-radius: 50%;
    width: 50%;
}

div.headPicture-container:hover .overlay {
    opacity: 1;
    color: black;
}

.overlay {
    position: absolute;
    top: 60%;
    bottom: 20%;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: white;

    color: black;
    /*background-color: #008CBA;
    */
}

.headText {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.italic {
    font-size: 15px;
    font: itali c;
}

.underline {
    font-size: 20px;
}

.link_Area {
    border-style: double;
}

.box {
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10%;
    border-style: double;
}

.big {
    font-size: 200px;
}

hr.new5 {
    border: 10px soli d green;
    border-radius: 5px;
}

ul.topbar {
    background-color: blue;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 25px;
}

.orangetext {
    color: orange;
}

table.border {
    border-color: brown;
    border-width: thick;
    border-style: solid;
}

img.filter {
    border-color: brown;
    border-width: thick;
    border-style: solid;
    filter: sepia(100%);
}

tr.lab5-gray {
    background-color: gray;
}

.lab5-greenbg {
    background-color: chartreuse;
}

.lab5-bluebg {
    background-color: aqua;
}

.lab5-orangebg {
    background-color: orange;
}

.lab5-ricebg {
    background-color: beige;
}

tr.lab5-black {
    color: white;
    background-color: black;
}

th span {
    background: gold;
}